@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

/*Logo y Título del header*/

.logo {
    background: #460C68;
    padding: 30px;
    display: flex;
    color: white;
}

#imagen {
    display: flex;
}

#img-logo {
    border-radius: 250px;
    width: 100px;
    margin-right: 10px;
    height: 100px;
}

/*Barra de navegación (menu)*/
nav {
    display: flex;
    flex-direction: row;
    background: #7F167F;
    border: solid #CB1C8D 8px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    width: auto;
}

nav>ul {
    padding: 10px;
    list-style: none;
    display: flex;
    height: 100px;
    align-content: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bolder;
    background-color: #F56EB3;
    border-radius: 30px;
}

li {
    border: solid #460C68 8px;
    padding: 40px 50px;
    background-color: #CB1C8D;
    border-radius: 30px;
}

nav ul li a {
    background: #CB1C8D;
    color: #F56EB3;
    text-decoration: none;
    padding: 10px;
}

/*Barra de navegación hover(pasar cursor)*/
nav ul li a:hover {
    background: #F56EB3;
    color: #460C68;
    font-weight: bold;
}

ul:hover {
    display: flex;
}

nav:hover>ul {
    display: flex;
}

/*Hamburguesa*/
.hamburguesa {
    display: none;
}

/*Principal*/
main {
    display: flex;
    background-color: #F56EB3;
    color: white;
}

.principal {
    background: #F56EB3;
    color: #000;
    padding: 20px;
    flex: 1 1 70%;
    font-size: 22px;
}

.principal article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.principal article:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.titulo {
    color: #460C68;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #CB1C8D;
}

/*Aside*/
aside {
    padding: 30px;
    color: white;
    background: #7F167F;
}

aside .img-class {
    height: 150px;
    width: 150px;
    margin: 10px;
}

aside .img-class img {
    border-radius: 250px;
}

/*Pie de página*/
footer {
    background: #460C68;
    padding: 20px;
    /* flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .links {
    background: #CB1C8D;
    /* flex */
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
}

footer .links a {
    /* flex */
    flex-grow: 1;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
}

footer .social {
    border-radius: 20px;
    background: #CB1C8D;
}

footer .social a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

/*Pie de página pasar cursor*/
footer .links a:hover {
    background: #F56EB3;
    color: #460C68;
}

footer .social a:hover {
    background: #F56EB3;
    color: #460C68;
}

/*Media query*/
@media screen and (max-width: 900px) {
    .hamburguesa {
        display: block;
        height: 30px;
        background-color: #F56EB3;
        font-size: 30px;
        align-items: center;
        color: white;
    }

    .lista {
        display: none;
    }

    .titulo {
        color: #CB1C8D;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #460C68;
    }

    aside {
        display: none;
    }

    .logo {
        flex-direction: column;
        align-items: center;
    }

    nav {
        text-align: center;
        width: auto;
    }

    nav:hover>ul {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 10px;
    }

    ul:hover {
        flex-direction: column;
        height: 340px;
    }

    .lista>li {
        padding: 20px;
    }

    ul.lista {
        margin: 2px;
    }

    footer {
        font-size: 30px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .links {
        padding: 30px;
        margin: 10px;
    }

    footer .links a {
        font-size: 30px;
    }

    footer .social {
        padding: 30px;
        margin: 10px;
    }

    footer .social a {
        font-size: 30px;
    }

}